@font-face {
  font-family: "ZT-Nature";
  src: url("./fonts/ZTNature-Thin.woff2") format("woff2"), url("./fonts/ZTNature-Thin.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: none;
}

@font-face {
  font-family: "ZT-Nature";
  src: url("./fonts/ZTNature-ThinItalic.woff2") format("woff2"), url("./fonts/ZTNature-ThinItalic.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "ZT-Nature";
  src: url("./fonts/ZTNature-Medium.woff2") format("woff2"), url("./fonts/ZTNature-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: none;
}

@font-face {
  font-family: "ZT-Nature";
  src: url("./fonts/ZTNature-MediumItalic.woff2") format("woff2"), url("./fonts/ZTNature-MediumItalic.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "ZT-Nature";
  src: url("./fonts/ZTNature-Black.woff2") format("woff2"), url("./fonts/ZTNature-Black.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: none;
}

@font-face {
  font-family: "ZT-Nature";
  src: url("./fonts/ZTNature-BlackItalic.woff2") format("woff2"), url("./fonts/ZTNature-BlackItalic.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}
