*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

:root * {
  font-family: inherit;
  font-weight: inherit;
}

:root {
  font-family: "ZT-Nature", Arial, system-ui, sans-serif;
  font-weight: 600;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 50px;
}

div.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  font-size: 1.4rem;

  background-image: linear-gradient(90deg, orange, 50%, red);
}

div#content {
  display: grid;
  grid-template: 1fr / 160px 1fr 300px;
  max-height: calc(100vh - 130px); /* 130 = header + footer */

  div.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 20vw));
    grid-auto-rows: 200px;
    gap: 40px 20px;
    overflow: auto;
    scrollbar-color: lightgreen transparent;

    background-color: #ffffd0;
    padding: 20px;

    .card {
      box-sizing: border-box;
      background-color: white;
      border: 2px solid black;
      padding: 10px;
    }
  }

  div.projects-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    padding: 10px 0px;
    background-color: #8f008f;
    overflow: auto;

    h2 {
      color: white;
      margin-bottom: 10px;
    }

    .project {
      display: flex;
      align-items: center;
      justify-content: space-between;

      word-wrap: break-word;
      appearance: none;
      cursor: pointer;
      background-color: antiquewhite;
      width: 90%;
      padding: 5px 10px 5px 20px;
      height: 60px;
      font-size: 1rem;
      border: 2px solid black;

      &.selected {
        background-color: #fad0c0;
        cursor: default;
      }
    }

    .remove-project-btn {
      cursor: pointer;
      background-color: transparent;
      border: none;

      & > svg {
        stroke: red;
      }
    }
  }

  div.create-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: lightgreen;
    padding: 0px 10px;

    & > div {
      display: grid;
      grid-template: 1fr 4fr 1fr / 4fr 1fr;
      place-items: center;
    }

    #add-project-input, .add-project-submit-btn {
      box-sizing: border-box;
      appearance: none;
      display: none;
      border: 2px solid black;
      padding: 5px;
      width: 100%;
      height: 100%;
    }

    #add-project-input {
      font-size: 0.8rem;
      border-right: none;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;

      &:focus {
        outline: none;
        background-color: #ddf;
      }
    }

    .add-project-submit-btn {
      cursor: pointer;
      background-color: #0f0;

      & > svg {
        height: 100%;
        width: 100%;
      }
    }

    svg {
      width: 120px;
      height: auto;
    }

    .add-project-btn, .add-item-btn {
      grid-column: 1 / 3;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

    h4 {
      grid-column: 1 / 3;
      text-align: center;
    }
  }
}

dialog.expand-dialog {
  margin: auto;

  form {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 9fr;
    gap: 30px 20px;
    width: 60vw;
    height: 70vh;
    padding: 20px;

    .top {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: 1fr 9fr;

      #title {
        font-weight: 700;
        font-size: 1.4rem;
      }
    }

    .left {
      display: grid;
      grid-template: 5fr 1fr 5fr / 1fr 6fr;
      align-items: start;
      gap: 20px 40px;
      
      textarea {
        align-self: stretch;
        resize: none;
      }
    }

    .right {
      display: grid;
      grid-template: 10fr 2fr / 1fr 1fr;
      row-gap: 35px;
      place-items: center;

      .checklist, .add-check-div {
        grid-column: 1 / 3;
      }

      .add-check-div {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 10px;

        #add-check {
          resize: none;
          grid-area: 1 / 2 / 3 / 3;
          font-size: 0.7rem;
        }

        .add-check-btn {
          place-self: center;
          font-size: 0.6rem;
          padding: 0px 8px;
        }
      }
    }

    textarea, input {
      min-width: 100px;
      border: thin dashed lightgrey;
      padding: 0px 5px;
    }

    label {
      font-size: 0.8rem;
      color: grey;
    }
  }
}

div.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background-color: blue;

  a, p {
    color: white;
    text-decoration: none;
  }

  svg {
    position: relative;
    top: 5px;
    stroke: white;
  }
}
