*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

:root * {
  font-family: inherit;
  font-weight: inherit;
}

:root {
  font-family: "ZT-Nature", Arial, system-ui, sans-serif;
  font-weight: 600;

  --project-container-width: max(350px, 25vw);
  --create-container-width: max(200px, 12vw);
  --header-height: 5rem;
  --footer-height: 3rem;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
}

button {
  cursor: pointer;

  &.save, &.exit, &.expand-btn, &.add-check-btn {
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 1px 1px 1px lightgrey;
    padding: 4px 8px;
    transition: background-color 0.3s, transform 0.3s ease-out, box-shadow 0.3s;

    &:hover {
      transform: translate(-2px, -1px);
      box-shadow: 3px 2px 1px lightgrey;
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 10px;
  font-weight: 700;
  font-size: 1.4rem;

  background-image: linear-gradient(90deg, orange, 50%, red);

  img {
    image-rendering: pixelated;
    width: 4rem;
    height: auto;
  }
}

div#content {
  display: grid;
  grid-template: 1fr / var(--create-container-width) 1fr var(--project-container-width);
  max-height: calc(100vh - var(--footer-height) - var(--header-height));

  .cards-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 160px;
    gap: 40px 20px;
    overflow: auto;
    scrollbar-color: lightgreen transparent;

    background-color: #ffffd0;
    padding: 20px;

    .card {
      display: grid;
      grid-template: 3fr 3fr 1fr 1fr / 16fr 7fr 1fr;
      gap: 10px;
      align-items: center;

      box-sizing: border-box;
      background-color: white;
      border: 2px solid black;
      padding: 10px;
      box-shadow: 1px 1px 2px grey;

      .title {
        grid-column: 1 / 3;
        font-weight: 700;
        font-size: 1.5rem;
      }

      .description {
        grid-column: 1 / 4;
        font-size: 1.1rem;
      }

      .description, .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .expand-btn {
        grid-row-end: span 2;
        grid-column-end: span 2;
        place-self: center;

        background-color: #ffa500;
        &:hover { background-color: #ffb500; }
        &:active { background-color: #ffc500; }
      }

      .due-date, .priority {
        white-space: pre-wrap;
        font-size: 0.9rem;
      }

      .cross {
        place-self: center;

        svg {
          cursor: pointer;
          stroke: red;
          transition: stroke-width 0.2s;

          &:hover {
            stroke-width: 3;
          }
        }
      }

      .due-date::before {
        content: "Due: ";
      }

      .priority::before {
        content: "Priority: ";
      }
    }
  }

  .projects-container {
    display: flex;
    width: var(--project-container-width);
    flex-direction: column;
    gap: 2px;
    align-items: center;
    padding: 10px 0px;
    background-color: #8f008f;
    overflow: auto;
    scrollbar-color: lightgreen transparent;

    & > * {
      flex: 0 0 auto;
    }

    h2 {
      color: white;
      margin-bottom: 10px;
    }

    .drop-down-arrow {
      display: none;
    }

    .project {
      display: grid;
      place-items: center stretch;
      grid-template-columns: 9fr 1fr;
      column-gap: 8px;

      appearance: none;
      cursor: pointer;
      background-color: #faebd7;
      width: 90%;
      aspect-ratio: 4;
      padding: 5px 10px 5px 20px;
      font-size: 2rem;
      border: 2px solid black;

      span {
        word-wrap: break-word;
        text-align: left;
        overflow: hidden;
        font-size: 1.2rem;
      }

      box-shadow: 1px 1px 1px black;
      transition: background-color 0.3s, transform 0.3s ease-out, box-shadow 0.3s;

      &:hover {
        background-color: #fafbe7;
        transform: translate(-1px, -0.5px);
        box-shadow: 2px 1.5px 1px black;
      }

      &:active { background-color: #fafbf7; }

      &.selected {
        background-color: #fad0c0;
        cursor: default;

        &:hover {
          background-color: #fad0c0;
          transform: translate(0px, 0px);
          box-shadow: 1px 1px 1px black;
        }
      }
    }

    .remove-project-btn {
      background-color: transparent;
      border: none;

      & > svg {
        height: 2rem;
        width: auto;
        stroke: red;
        transition: stroke-width 0.2s;

        &:hover { stroke-width: 2.5; }
      }
    }
  }

  .create-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: lightgreen;
    padding: 0px 10px;

    .add-item, .add-project {
      display: grid;
      grid-template: 1fr 4fr 1fr / 4fr 1fr;
      place-items: center;
    }

    .add-project-input-container {
      display: grid;
      grid-template-columns: 4fr 1fr;
      max-height: 3rem;
      place-content: center;

      #add-project-input, .add-project-submit-btn {
        box-sizing: border-box;
        appearance: none;
        display: none;
        border: 2px solid black;
        padding: 5px;
        width: 100%;
        height: 3rem;
      }

      #add-project-input {
        font-size: 1rem;
        border-right: none;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;

        &:focus {
          outline: none;
          background-color: #ddf;
        }
      }

      .add-project-submit-btn {
        background-color: #0f0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        transition: background-color 0.2s;

        &:hover {
          background-color: #2e2;
        }

        & > svg {
          height: 100%;
          width: 100%;
        }
      }
    }

    svg {
      width: 150px;
      height: auto;
    }

    .add-project-btn, .add-item-btn {
      grid-column: 1 / 3;
      background-color: transparent;
      border: none;
      
      svg {
        transition: stroke 0.2s, fill 0.2s;

        &:hover {
          stroke: #002;
          fill: #eef;
        }
      }
    }

    h4 {
      grid-column: 1 / 3;
      text-align: center;
    }
  }
}

.expand-container {
  box-sizing: border-box;
  display: grid;
  place-content: center;
  place-items: center;

  background-color: #ffffd0;
  padding: 8px;
  width: calc(100vw - var(--project-container-width) - var(--create-container-width));
  height: calc(100vh - var(--footer-height) - var(--header-height));
  margin: auto;

  max-height: 100%;

  form {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 9fr;
    gap: 30px 20px;

    padding: 20px;
    border: 2px solid black;
    background-color: white;

    max-height: calc(100vh - var(--footer-height) - var(--header-height) - 100px);
    max-width: calc(100vw - var(--project-container-width) - var(--create-container-width) - 100px);

    overflow: auto;
    scrollbar-color: lightgreen transparent;

    .top {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: 1fr 9fr;

      #title {
        font-weight: 700;
        font-size: 1.4rem;
      }
    }

    .left {
      display: grid;
      grid-template: 5fr 1fr 5fr 1fr / 1fr 4fr 1fr;
      align-items: start;
      gap: 20px 40px;
      
      textarea {
        align-self: stretch;
        resize: none;
      }

      input, textarea {
        grid-column: span 2;
      }

      #due-date {
        grid-column: span 1;
      }

      .time-until {
        align-self: center;
        color: #333;
        font-size: 0.8rem;
      }
    }

    .right {
      display: grid;
      grid-template: 20px 300px 1fr 1fr / 1fr 1fr;
      row-gap: 15px;
      place-items: center;

      .checklist, .add-check-div, .checklist-label {
        grid-column: 1 / 3;
      }

      .checklist-label {
        place-self: center start;
      }

      .checklist {
        place-self: start;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 8fr 1fr;
        gap: 10px 10px;

        padding-left: 5px;
        max-height: 100%;
        width: 100%;
        overflow-y: auto;
        scrollbar-color: purple transparent;
        scrollbar-width: thin;

        label {
          overflow: hidden;
          word-wrap: break-word;
          font-size: 0.9rem;
        }

        input {
          cursor: pointer;
          width: 20px;
          height: 20px;
        }

        .remove-check-btn {
          background-color: transparent;
          border: none;

          & > svg {
            stroke: red;
            transition: stroke-width 0.2s;

            &:hover { stroke-width: 2.5; }
          }
        }
      }

      .add-check-div {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 10px;

        #add-check {
          resize: none;
          grid-area: 1 / 2 / 3 / 3;
          font-size: 0.9rem;
        }

        label {
          place-self: center;
          text-align: center;
          font-size: 0.9rem;
        }

        .add-check-btn {
          place-self: center;
          font-size: 0.8rem;
          padding: 0px 8px;
          background-color: #90ee90;
          &:hover { background-color: #a0eea0; }
          &:active { background-color: #b0ffb0; }
        }
      }

      .save {
        background-color: #90ee90;
        &:hover { background-color: #a0eea0; }
        &:active { background-color: #b0ffb0; }
      }

      .exit {
        background-color: #ff0000;
        &:hover { background-color: #ff3535; }
        &:active { background-color: #ff4747; }
      }

      button {
        font-size: 0.9rem;
      }
    }

    textarea, input:not([type="checkbox"]) {
      min-width: 100px;
      border: thin dashed black;
      padding: 0px 5px;
      transition: background-color 0.1s;

      &:invalid {
        border: thin solid red;
      }

      &:focus {
        outline: thin solid lightblue;
      }

      &.current-invalid:invalid {
        background-color: pink;
      }
    }

    label:not(.check-label) {
      font-size: 1rem;
      color: grey;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background-color: blue;

  a, p {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }

  a:hover {
    color: black;
  }

  svg {
    position: relative;
    top: 5px;
    stroke: white;
    fill: transparent;
    transition: stroke 0.3s, fill 0.3s;

    &:hover {
      stroke: black;
      fill: white;
    }
  }
}

@media (max-width: 1350px) {
  .expand-container {
    form {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 9fr 8fr;

      .top {
        grid-column: 1 / 2;
        grid-template-columns: 1fr 9fr;
      }

      .left {
        grid-template: 5fr 1fr 5fr 1fr / 1fr 8fr 1fr;
      }

      .right {

        .checklist {
          grid-template-columns: 1fr 20fr 1fr;
        }

        .add-check-div {
          width: 100%;
        }
      }

      label:not(.check-label) {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 1100px) {
  :root {
    --create-container-width: 0px;
  }

  div#content {
    grid-template: 7fr 1fr / 1fr var(--project-container-width);
    max-height: calc(100vh - var(--footer-height) - var(--header-height));

    .create-container {
      grid-area: 2 / 2 / 3 / 3;
      display: grid;
      grid-template: 3fr 1fr / 1fr 1fr;
      place-items: center;
      place-content: center;

      width: var(--project-container-width);
      
      padding: 15px 10px;
      border-top: 3px solid blue;

      .add-project-input-container {
        grid-column: 1 / 3;
      }

      .add-item, .add-project {
        display: grid;
        grid-template: 1fr 4fr / 4fr;
        place-items: center;
        place-content: center;
      }

      svg {
        width: 80px;
      }
    }

    .expand-container, .cards-container {
      grid-area: 1 / 1 / 3 / 2;
    }

    .projects-container {
      grid-area: 1 / 2 / 2 / 3;
    }
  }
}

@media (max-width: 850px) {
  :root {
    --project-container-width: 0px;
    --footer-height: auto;
    --header-height: auto;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: auto;
  }

  div#content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    max-height: none;

    & > div {
      max-height: none;
      max-width: none;
      width: 100vw !important;
    }

    .cards-container, .expand-container {
      flex-grow: 1;
      order: 3;
    }

    .expand-container {
      padding: 80px 0px;
      height: auto;
      form {
        width: 95vw;

        .left {
          grid-template: 1fr 5fr 1fr 1fr 1fr 5fr 1fr 1fr / 8fr 1fr;

          label {
            grid-column: 1 / 3;
          }
        }

        .top {
          grid-template-columns: 1fr;
          row-gap: 20px;

          label {
            grid-column: 1 / 3;
          }
        }
      }
    }

    .cards-container {
      grid-template-columns: 90vw;
      place-items: center;
      padding: 50px 0px;
      grid-auto-rows: 200px;
      height: auto;

      .card {
        width: 80vw;
      }
    }

    .create-container {
      order: 2;
      padding: 40px 10px 20px;
      border: none;

      svg {
        width: 20vw;
      }
    }

    .projects-container {
      padding: 20px 0px;
      order: 1;
      max-height: 500px;
      transition: max-height 0.4s;

      .project {
        aspect-ratio: 6;
      }

      &.hidden {
        max-height: 70px;
        overflow: hidden;
      }

      .drop-down-arrow {
        cursor: pointer;
        transition: transform 0.2s;
        transform: rotate(0deg);
        margin: 8px 0px 30px;
        display: block;
        width: 40px;
        height: auto;
      }
    }
  }

  .footer {
    flex-direction: column;
    padding: 15px 5px;
    gap: 20px;
    margin-top: auto;
  }
}
