*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

:root * {
  font-family: inherit;
  font-weight: inherit;
}

:root {
  font-family: "ZT-Nature", Arial, system-ui, sans-serif;
  font-weight: 600;

  --project-container-width: 300px;
  --create-container-width: 160px;
  --header-height: 80px;
  --footer-height: 50px;
}

body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
}

button {
  cursor: pointer;

  &.save, &.exit, &.expand-btn, &.add-check-btn {
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 1px 1px 1px lightgrey;
    padding: 4px 8px;
    transition: background-color 0.3s, transform 0.3s ease-out, box-shadow 0.3s;

    &:hover {
      transform: translate(-2px, -1px);
      box-shadow: 3px 2px 1px lightgrey;
    }
  }
}

div.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  font-size: 1.4rem;

  background-image: linear-gradient(90deg, orange, 50%, red);
}

div#content {
  display: grid;
  grid-template: 1fr / var(--create-container-width) 1fr var(--project-container-width);
  max-height: calc(100vh - var(--footer-height) - var(--header-height));

  div.cards-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-auto-rows: 160px;
    gap: 40px 20px;
    overflow: auto;
    scrollbar-color: lightgreen transparent;

    background-color: #ffffd0;
    padding: 20px;

    .card {
      display: grid;
      grid-template: 3fr 3fr 1fr 1fr / 16fr 7fr 1fr);
      gap: 10px;
      align-items: center;

      box-sizing: border-box;
      background-color: white;
      border: 2px solid black;
      padding: 10px;
      box-shadow: 1px 1px 2px grey;

      .title {
        grid-column: 1 / 3;
        font-weight: 700;
        font-size: 1.5rem;
      }

      .description {
        grid-column: 1 / 4;
      }

      .description, .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .expand-btn {
        grid-row-end: span 2;
        grid-column-end: span 2;
        place-self: center;

        background-color: #ffa500;
        &:hover { background-color: #ffb500; }
        &:active { background-color: #ffc500; }
      }

      .due-date, .priority {
        white-space: pre-wrap;
        font-size: 0.8rem;
      }

      .cross {
        place-self: center;

        svg {
          cursor: pointer;
          stroke: red;
          transition: stroke-width 0.2s;

          &:hover {
            stroke-width: 3;
          }
        }
      }

      .due-date::before {
        content: "Due: ";
      }

      .priority::before {
        content: "Priority: ";
      }
    }
  }

  div.projects-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    padding: 10px 0px;
    background-color: #8f008f;
    overflow: auto;

    & > * {
      flex: 0 0 auto;
    }

    h2 {
      color: white;
      margin-bottom: 10px;
    }

    .project {
      display: flex;
      align-items: center;
      justify-content: space-between;

      word-wrap: break-word;
      appearance: none;
      cursor: pointer;
      background-color: #faebd7;
      width: 90%;
      padding: 5px 10px 5px 20px;
      height: 60px;
      font-size: 1rem;
      border: 2px solid black;

      box-shadow: 1px 1px 1px black;
      transition: background-color 0.3s, transform 0.3s ease-out, box-shadow 0.3s;

      &:hover {
        background-color: #fafbe7;
        transform: translate(-1px, -0.5px);
        box-shadow: 2px 1.5px 1px black;
      }

      &:active { background-color: #fafbf7; }

      &.selected {
        background-color: #fad0c0;
        cursor: default;

        &:hover {
          background-color: #fad0c0;
          transform: translate(0px, 0px);
          box-shadow: 1px 1px 1px black;
        }
      }
    }

    .remove-project-btn {
      background-color: transparent;
      border: none;

      & > svg {
        stroke: red;
        transition: stroke-width 0.2s;

        &:hover { stroke-width: 2.5; }
      }
    }
  }

  div.create-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: lightgreen;
    padding: 0px 10px;

    & > div {
      display: grid;
      grid-template: 1fr 4fr 1fr / 4fr 1fr;
      place-items: center;
    }

    #add-project-input, .add-project-submit-btn {
      box-sizing: border-box;
      appearance: none;
      display: none;
      border: 2px solid black;
      padding: 5px;
      width: 100%;
      height: 100%;
    }

    #add-project-input {
      font-size: 0.8rem;
      border-right: none;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;

      &:focus {
        outline: none;
        background-color: #ddf;
      }
    }

    .add-project-submit-btn {
      background-color: #0f0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      transition: background-color 0.2s;

      &:hover {
        background-color: #2e2;
      }

      & > svg {
        height: 100%;
        width: 100%;

      }
    }

    svg {
      width: 120px;
      height: auto;
    }

    .add-project-btn, .add-item-btn {
      grid-column: 1 / 3;
      background-color: transparent;
      border: none;
      
      svg {
        transition: stroke 0.2s, fill 0.2s;

        &:hover {
          stroke: #002;
          fill: #eef;
        }
      }
    }

    h4 {
      grid-column: 1 / 3;
      text-align: center;
    }
  }
}

.expand-container {
  box-sizing: border-box;
  display: grid;
  place-content: center;
  place-items: center;

  background-color: #ffffd0;
  padding: 8px;
  width: calc(100vw - var(--project-container-width) - var(--create-container-width));
  height: calc(100vh - var(--footer-height) - var(--header-height));
  margin: auto;
  overflow: auto;

  form {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 9fr;
    gap: 30px 20px;

    padding: 20px;
    border: 2px solid black;
    background-color: white;

    .top {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: 1fr 9fr;

      #title {
        font-weight: 700;
        font-size: 1.4rem;
      }
    }

    .left {
      display: grid;
      grid-template: 5fr 1fr 5fr 1fr / 1fr 6fr;
      align-items: start;
      gap: 20px 40px;
      
      textarea {
        align-self: stretch;
        resize: none;
      }
    }

    .right {
      display: grid;
      grid-template: 220px 1fr 1fr / 1fr 1fr;
      row-gap: 15px;
      place-items: center;

      .checklist, .add-check-div {
        grid-column: 1 / 3;
      }

      .checklist {
        place-self: start;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 4fr 1fr;
        gap: 10px 10px;

        padding: 0px 20px;
        max-height: 220px;
        overflow-y: auto;

        label {
          word-wrap: break-word;
          width: 200px;
          font-size: 0.8rem;
        }

        input {
          cursor: pointer;
          width: 20px;
          height: 20px;
        }

        .remove-check-btn {
          background-color: transparent;
          border: none;

          & > svg {
            stroke: red;
            transition: stroke-width 0.2s;

            &:hover { stroke-width: 2.5; }
          }
        }
      }

      .add-check-div {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 10px;

        #add-check {
          resize: none;
          grid-area: 1 / 2 / 3 / 3;
          font-size: 0.7rem;
        }

        .add-check-btn {
          place-self: center;
          font-size: 0.6rem;
          padding: 0px 8px;
          background-color: #90ee90;
          &:hover { background-color: #a0eea0; }
          &:active { background-color: #b0ffb0; }
        }
      }

      .save {
        background-color: #90ee90;
        &:hover { background-color: #a0eea0; }
        &:active { background-color: #b0ffb0; }
      }

      .exit {
        background-color: #ff0000;
        &:hover { background-color: #ff3535; }
        &:active { background-color: #ff4747; }
      }
    }

    textarea, input:not([type="checkbox"]) {
      min-width: 100px;
      border: thin dashed black;
      padding: 0px 5px;
      transition: background-color 0.1s;

      &:invalid {
        border: thin solid red;
      }

      &:focus {
        outline: thin solid lightblue;
      }

      &.current-invalid:invalid {
        background-color: pink;
      }
    }

    label:not(.check-label) {
      font-size: 0.8rem;
      color: grey;
    }
  }
}

div.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background-color: blue;

  a, p {
    color: white;
    text-decoration: none;
  }

  svg {
    position: relative;
    top: 5px;
    stroke: white;
  }
}
